html {
    font-family: "small arial", sans-serif;
    width: 100%;
}


/*#################################### header ############################*/

#fa-th {
    font-size: 26px;
    opacity: 0.5;
    display: inline-block;
    float: right;
}

#fa-th:hover {
    cursor: pointer;
    opacity: 1;
}

header form {
    float: right;
    display: inline-block;
}

.header {
    margin: 30px 30px 0 0;
}

.btn-primary {
    background-color: #4486F9;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 92px;
    color: #F9FFFF;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    padding: 0;
    display: inline-block;
}

.link-header {
    float: right;
    padding-top: 5px;
}

.link {
    margin-right: 30px;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    color: #6A6666;
}

.link:hover {
    text-decoration: underline;
}


/*################################ appli google #############################*/

nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 800
}

nav img {
    height: 45px;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    color: #6A6666;
}

nav a:hover {
    text-decoration: underline;
}

table {
    border: .5px solid #CCCCCC;
    margin-top: 20px;
    background-color: #FFFFFF
}

td {
    padding: 10px;
    text-align: center;
}


/*################################" google search ########################################*/

.logo-google {
    position: relative;
    text-align: center;
    color: #4788F5;
    z-index: 1
}

.search {
    margin: auto;
    padding-top: 190px;
}

.search a {
    list-style-type: none;
    color: black;
}

.search form {
    padding-top: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

input {
    width: 537px;
    height: 46px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 10px #aaa;
    border: hidden;
}

.img-input {
    display: inline-block;
}

.mic {
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

.fa-search {
    width: 25px;
    color: #4788F5;
}


/*########################## footer-bottom ##################################*/

.left-bottom {
    display: inline-block;
    float: left;
}

.left-bottom a {
    padding-left: 30px;
    text-decoration: none;
    color: #6A6666;
    font-size: 13px
}

.right-bottom {
    padding-right: 30px;
    float: right;
    display: inline-block;
}

.right-bottom a {
    padding-left: 30px;
    text-decoration: none;
    color: #6A6666;
    font-size: 13px
}


/*################# footer ##############################*/

footer {
    background-color: #F2F2F2;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    padding-top: 15px;
    border-top: .5px solid #CCCCCC;
}

footer a:hover {
    text-decoration: underline;
}


/*########################## dropdownmenu #####################################*/

.dropdown-menu {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid #999999;
    list-style-type: none;
    padding: 10px 15px 10px 5px;
    line-height: 40px
}
